#add_product--main {
  max-width: 100%;
  width: 1200px;
}

#add_product--head {
}

#add_product--form {
  /* width: 500px; */
  margin: 0 auto;
  padding: 10px;
}

.add_product_form--group {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add_product_form--group > .add_product--form-item {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
}

.add_product--form-item > label {
  display: inline-flex;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.add_product_form--group > .add_product--form-item > label {
  flex: 1;
}

.add_product_form--group > .add_product--form-item > input,
.add_product_form--group > .add_product--form-item > select,
.add_product_form--group > .add_product--form-item > textarea {
  width: 65%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.add_product_form--group > .add_product--form-item > textarea {
  height: 100px;
}

#add_product--form-upload {
  width: 100%;
}

#add_product--form-upload-file {
  width: 50%;
  height: 150px;
  margin: 0 auto;
  border: 3px dashed #ccc;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add_product--form-upload-file > label {
  background-color: rgb(224, 79, 79);
  padding: 10px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;

  & > ion-icon {
    padding: 0 5px;
  }
}

#add_product--form-upload-file > label:hover {
  background-color: rgba(224, 79, 79, 0.8);
}

#add_product--form-upload-file > #file_name {
  /* border: 1px solid; */
  --values: 100px;
  width: calc(var(--values) + 10px);
  height: var(--values);
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  backface-visibility: visible;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 0 15px;
}

#add_product--form-btn {
  text-align: center;
  padding: 50px 10px;
}

#add_product--form-btn > button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #bbb;
  text-transform: capitalize;
  /* font-weight: bold; */
  font-size: 16px;
  cursor: pointer;
}

#add_product--form-btn > button:hover {
  background-color: rgb(187, 187, 187, 0.5);
}
